* {
    box-sizing: border-box;
}
body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 22, 48);
}

#main {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .splash-page {
        height: 100%;
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin-bottom: 20px;
        h1 {
            font-family: "Lusitana"; 
            font-size: 64px;
            color: rgb(3, 22, 48);
            margin: 10px 0px 5px 0px;
            padding: 0;
        }
        h2 {
            color: #cc3300;
            font-family: "Open Sans"; 
            font-size: 32px;
            padding: 0px 0px 20px 0px;
            margin: 0;
        }
    }

    .canvas {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;

        background-color:#c6c6c6;
        h2 {
            color: #cc3300;
            font-family: "Open Sans"; 
            font-size: 32px;
            padding: 0;
            margin: 0;
        }
        p {
            color: rgb(3, 22, 48);
            font-family: "Open Sans"; 
            padding: 0;
        }
    }
}
svg {
  background-color: rgb(3, 22, 48);
}

text {
  background-color: #808385;
}

circle {
    background-image: url('https://placekitten.com/300/200');
}