body, html {
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #canvas {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
svg {
  background-color: black;
}

body, html, #main {
  color: black;
}
text {
  background-color: purple
}

circle {
    background-image: url('https://placekitten.com/300/200');
}

.a-chen {
    color: 'red'

}
.a-myrzabekova {
    color: 'red'

}
.a-walther {
    color: 'red'

}

.b-choy {
    color: 'red'

}

.d-zhong {
    color: 'red'

}

.e-lopes {
    color: 'red'

}
.e-xie {
    color: 'red'

}
.e-tshimanga {
    color: 'red'

}
.e-bhargava {
    color: 'red'

}
.e-seo {
    color: 'red'

}
.e-chang {
    color: 'red'

}
.j-li {
    color: 'red'

}
.j-wang {
    color: 'red'

}
.k-kapoor {
    color: 'red'

}
.s-li {
    color: 'red'

}
.n-tsai {
    color: 'red'
}
.v-wong {

}
.v-chen {
    color: 'red'
}
.w-cruz-lopez {
    color: 'red'

}

// body, html, #main {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-family: "Open Sans";
//     background: black;
//     height: 100%;
//     width: 100%;
//     min-height: 100vh;
//     min-width: 100vw;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
// img {
//     max-width: 50px;
//     max-height: 50px;
//     border-radius: 50%;
// } 
  
// #home {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     width: 100%;
//     min-height: 100%;
//     min-width: 100%;
//     background-color: black;
//     align-items: center;
//     // justify-content: center;
//     margin: 0;
//     padding: 0;
    
//     #network {
//       min-height: 700px;
//       max-height: 700px;
//       min-width: 800px;
//       max-width: 800px;
//       background-image: url('./imgs/background.jpg');
//       background-size: contain;
//       background-position: top;
//       background-repeat: no-repeat;

//       h1 {
//         font-family: "Lusitana"; 
//         font-size: 64px;
//         color: white;
//         margin: 10px 0px 10px 0px;
//         padding: 0;
//       }
//       h2 {
//         font-size: 24px;
//         color: white;
//         margin: 10px 0px 10px 0px;
//         padding: 0;
//       }
// //     //   .m-hess {
// //     //     position: absolute;
// //     //     top: 100px;
// //     //     left: 100px;
// //     //   }
//       .a-chen {
//         position: relative;
//         top: 120px;
//         left: 145px;
//       }
//       .a-myrzabekova {
//         position: relative;
//         top: 180px;
//         left: 95px;
//       }
//       .a-walther {
//         position: relative;
//         top: 245px;
//         left: 45px;
//       }

//       .b-choy {
//         position: relative;
//         top: 309px;
//         left: -6px;
//       }

//       .d-zhong {
//         position: relative;
//         top: 370px;
//         left: -55px;
//       }

//       .e-lopes {
//         position: relative;
//         top: 433px;
//         left: -105px;
//       }
//       .e-xie {
//         position: relative;
//         top: 495px;
//         left: -155px;
//       }
//       .e-tshimanga {
//         position: relative;
//         top: 555px;
//         left: -205px;

//       }
//       .e-bhargava {
//         position: relative;
//         top: 180px;
//         left: -106px;
//       }
//       .e-seo {
//         position: relative;
//         top: 245px;
//         left: -156px;
//       }
//       .e-chang {
//         position: relative;
//         top: 310px;
//         left: -207px;
//       }
//       .j-li {
//         position: relative;
//         top: 375px;
//         left: -257px;
//       }
//       .j-wang {
//         position: relative;
//         top: 438px;
//         left: -305px;
//       }
//       .k-kapoor {
//         position: relative;
//         top: 500px;
//         left: -355px;
//       }
//       .s-li {
//         position: relative;
//         top: 180px;
//         left: -310px;
//       }
//       .n-tsai {
//         position: relative;
//         top: 245px;
//         left: -260px;
//       }
//       .v-wong {
//         position: relative;
//         top: 255px;
//         left: 440px;
//       }
//       .v-chen {
//         position: relative;
//         top: 319px;
//         left: 390px;
//       }
//       .w-cruz-lopez {
//         position: relative;
//         top: 382px;
//         left: 340px;
//       }
//       .extra {
//         position: relative;
//         top: 443px;
//         left: 290px;
//       }
//     }
// }
  